div {
  color: black;
}

.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.leftCol {
  flex: 1;
  margin-right: 0.5em;
}

.rightCol {
  flex: 1;
  margin-left: 0.5em;
  height: 22em;
}

.singleCol {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.live-page {
  background-color: black;
}

h2.live-page-title {
  font-family: "Poppins";
  font-weight: bolder;
  text-align: center;
  line-height: 1.5;
}

h3.title-sub {
  display: inline-block;
  font-family: "Poppins";
  font-weight: bolder;
  line-height: 1.5;
  margin-bottom: 1%;
}

h3.title-traffic-details {
  font-family: "Poppins";
  font-weight: bolder;
  line-height: 1.5;
  margin-top: 1.5%;
}

a.menu-primary-text {
  font-family: "Nunito";
  font-weight: 900;
}

.canvas-stream {
  border-radius: 15px;
  height: 360px;
  width: calc(360px * (16 / 9));
  overflow: hidden;
}

.canvas-stream2 {
  border-radius: 15px;
  height: 300px;
  width: calc(300px * (4 / 3));
  /* height: 360px;
  width: calc(360px * (16 / 9)); */
  overflow: hidden;
  margin: 0 5px; /* Add space between the images */
}

.canvas-stream3 {
  border-radius: 15px;
  /* height: 300px;
  width: calc(300px * (4 / 3)); */
  height: 300px;
  width: calc(300px * (3 / 3));
  overflow: hidden;
  /* width: 128px;
  height: 40px;
  padding-bottom: 10px;
  font-family: "Nunito"; */
}

.canvas-container {
  margin-bottom: 10px;
}

.canvas-container2 {
  margin-bottom: 10px;
}

.button-update-stream {
  display: inline-block;
  margin-left: 10px;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  color: #555;
  border: 1px solid #ccc;
  transition: background-color 0.2s ease-in-out;
}

.button-update-stream:hover {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.button-view-desc {
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  color: #555;
  border: 1px solid #ccc;
  transition: background-color 0.2s ease-in-out;
}

.button-view-desc:hover {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.button-close-desc {
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  color: #555;
  border: 1px solid #ccc;
  transition: background-color 0.2s ease-in-out;
}

.button-close-desc:hover {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.button-live-page:hover {
  cursor: pointer;
  background-color: orange;
}

h6.alert-text {
  font-family: "Ubuntu";
  color: black;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0.01em;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

h6.alert-text2 {
  color: Teal; /* Change the text color to green */
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1;
}

h2.alert-box-heading {
  padding-bottom: 1%;
  color: maroon;
  font-family: "Ubuntu";
  font-weight: bold;
  background-color: lightcoral;
}

p.alert-box-content {
  font-family: "Ubuntu";
  padding: 2%;
}

.img-captured-vehicle {
  border-radius: 15px;
  width: 480px;
  font-family: "Ubuntu";
}

#cvsVideo {
  border-style: groove;
}

#cvsVideo2 {
  border-style: groove;
}

.dropdown-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 3px;
}

.stream-dropdown {
  font-size: 14px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #555;
  cursor: pointer;
  padding-bottom: 8px; /* Adjust padding-bottom to match button padding-bottom */
}

.stream-dropdown:hover {
  background-color: #f5f5f5;
}

.stream-dropdown:active {
  background-color: #eee;
}

.stream-dropdown:focus {
  outline: none;
  border-color: #4d90fe;
  box-shadow: 0 0 0 2px rgba(77, 144, 254, 0.3);
}
.device-info-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.device-info-card {
  flex: 0 0 calc(100% - 0px);
  max-width: 15%;
}

.device-info {
  font-family: "Ubuntu";
}

.device-info p {
  margin-bottom: 5px;
  font-size: 12px;
}

.device-info strong {
  font-weight: bold;
}

.device-info p:last-child {
  margin-bottom: 0;
  color: #888;
}

.card {
  width: 100%;
  margin-bottom: 1%;
}

.violation-table input[type="text"] {
  font-family: "Ubuntu";
  pointer-events: none;
  font-weight: normal;
}

.violation-table .button-view-desc {
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  color: #555;
  border: 1px solid #ccc;
  transition: background-color 0.2s ease-in-out;
}

.violation-table .button-view-desc:hover {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.violation-table .canvas-stream4 {
  width: 200px;
  height: 50px;
  max-height: 100px;
  padding-bottom: 10px;
  object-fit: contain;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.img-captured-lp {
  width: 200px;
  height: 60px;
  font-family: "Ubuntu";
}

.violation-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.violation-table :nth-child(2),
td:nth-child(2) {
  width: 500px;
}
