/* summary */

h2.dashboard-title {
  font-family: "Poppins";
  font-weight: bolder;
  text-align: center;
  line-height: 1.5;
}

/* chart */
.card {
  background-color: #f7f7f7;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
  height: 400px;
}

.dashboard.chart-title {
  font-family: "Poppins";
  font-weight: bolder;
  line-height: 1.5;
}

/*  */
h3.dashboard-title-2,
span {
  font-family: "Poppins";
  font-weight: bolder;
  line-height: 1.5;
}

.flex {
  display: flex;
}

.leftCol {
  flex: 1;
  margin-right: 0.5em;
}

.rightCol {
  flex: 1;
  margin-left: 0.5em;
  height: 10em;
}

.singleCol {
  margin-top: 1em;
  margin-bottom: 1em;
}

.table {
  margin-top: 1px;
  margin-bottom: 1px;
  max-height: 20em;
}

th.tableHeader {
  font-weight: bold;
  text-align: center;
  background-color: #e8eaf6;
  width: 30%;
  font-family: "Poppins";
}

td.tableCell {
  font-size: 13px;
  text-align: center;
  font-family: "Poppins";
}

td.engineTimestamp {
  background-color: #f5f5f5;
}

td.licensePlateNo {
  background-color: #fad1da;
}

td.typeEvent {
  background-color: #e3879c;
}

.text-chart-title {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.text-chart-title span.color-title {
  border: 1px solid #8b0000;
  padding: 5px 10px;
  /* color: #3b76a6; */
}

.text-chart-title span.bg-color-title {
  background: #8b0000;
  border: 1px solid #8b0000;
  padding: 5px 10px;
  color: white;
}

.text-chart-title-3 {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.text-chart-title-3 span.color-title {
  border: 1px solid #009977;
  padding: 5px 10px;
  /* color: #009977; */
}

.text-chart-title-3 span.bg-color-title {
  background: #009977;
  border: 1px solid #009977;
  padding: 5px 10px;
  color: white;
}

.text-chart-title-4 {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.text-chart-title-4 span.color-title {
  border: 1px solid #bb7a7a;
  padding: 5px 10px;
  /* color: #bb7a7a; */
}

.text-chart-title-4 span.bg-color-title {
  background: #bb7a7a;
  border: 1px solid #bb7a7a;
  padding: 5px 10px;
  color: white;
}

.text-chart-title-5 {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.text-chart-title-5 span.color-title {
  border: 1px solid #c0981d;
  padding: 5px 10px;
}

.text-chart-title-5 span.bg-color-title {
  background: #c0981d;
  border: 1px solid #c0981d;
  padding: 5px 10px;
  color: white;
}

.text-chart-title-6 {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.text-chart-title-6 span.color-title {
  border: 1px solid #706abf;
  padding: 5px 10px;
}

.text-chart-title-6 span.bg-color-title {
  background: #706abf;
  border: 1px solid #706abf;
  padding: 5px 10px;
  color: white;
}
