div {
  color: black;
}

tr td {
  vertical-align: top;
}

input[type="text"] {
  border: #333;
  font-size: 18px;
  color: #333;
  pointer-events: none;
}

div.live-page {
  background-color: black;
}

h2.live-page-title {
  font-family: "Poppins";
  font-weight: bolder;
  text-align: center;
  line-height: 1.5;
}

a.menu-primary-text {
  font-family: "Nunito";
  font-weight: 900;
}

.canvas-stream {
  border-radius: 15px;
  height: 365.625px;
  width: 650px;
  overflow: hidden;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  margin-top: 10px;
}

.button-live-page {
  margin-top: 1%;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Nunito";
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-live-page:hover {
  cursor: pointer;
  background-color: orange;
}

h6.alert-text {
  font-family: "Nunito";
  font-weight: 600;
  color: black;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0.01em;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

h2.alert-box-heading {
  font-family: "Nunito";
  font-weight: bold;
  background: linear-gradient(
    to bottom,
    rgba(255, 165, 0, 0.8),
    rgba(255, 165, 0, 0)
  );
}

p.alert-box-content {
  font-family: "Nunito";
}

.img-captured-vehicle {
  border-radius: 15px;
  width: 480px;
  font-family: "Nunito";
}

.img-captured-lp {
  width: 128px;
  height: 40px;
  padding-bottom: 10px;
  font-family: "Nunito";
}

#cvsVideo {
  margin: auto;
}
